@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');
.henny-penny-regular {
  font-family: "Henny Penny", system-ui;
  font-weight: 400;
  font-style: normal;
}

header{
  background-color: rgb(37, 15, 1);
  border-bottom: white 2px solid;

}
#navbar, #footer-id, .navbar-brand, #navlink{
    background-color: rgb(37, 15, 1);
    color: orangered;    
}


#img-main{
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.card-img-overlay{
  display: flex;
  flex-direction: column;
  align-items: end;
}